@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:12vw;
  background-color: #1A56DB;
  color: #2d5dc8;
  font-size: 80px;
  font-family: 'Unica One', cursive;
  letter-spacing: 0.35em;
  -webkit-text-stroke: 1.8px aliceblue; /* width and color */
}
.bottom{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  height:8vw;
  background-color: #1A56DB;
  color: aliceblue;
  font-size: 50px;
  font-family: 'Unica One', cursive;
  letter-spacing: 0.1em;
  
}

.title{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Unica One', cursive;
  color: #1A56DB;
}
.selected{
  color: red;
}
.box{
  margin-block: 4%;
}
.divider{
  margin-block: 20%;
}

.menu_font{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Unica One', cursive;
  color: #1A56DB;
}
li {
  display: inline;
}
.menu_div{
  margin-right: 10%;
  margin-bottom: 10%;
  width: 100%;
}
.block{
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}
li a {
  
  text-align: center;
  text-decoration: none;
}

.pageBody{
  margin-top: 5%;
}
.right {
  position: absolute;
  right: 25%; 
}
.dropdown{
  width: 40%;
  border: 1px solid #d9d9d9 ;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  .block{
    margin: auto;
    margin-top: 5%;
    width: 90%;
    padding: 10px;
  }
  .header{

    height:22vw;
    font-size: 40px;
    letter-spacing: 0.45em;
  }
  
  .dropdown{
    width: 60%;
    border: 1px solid #d9d9d9 ;
    border-radius: 2px;
  }
  .bottom{
  
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height:20vw;
    background-color: #1A56DB;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Unica One', cursive;
    letter-spacing: 0.1em;
    
  }
}