@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

}
.page_font{
  font-size: 14px;
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:12vw;
  background-color: #1A56DB;
  color: #2d5dc8;
  font-size: 80px;
  font-family: 'Unica One', cursive;
  letter-spacing: 0.35em;
  -webkit-text-stroke: 1.8px aliceblue; /* width and color */
}
.bottom{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  height:8vw;
  background-color: #1A56DB;
  color: aliceblue;
  font-size: 50px;
  font-family: 'Unica One', cursive;
  letter-spacing: 0.1em;
  
}

.title{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Unica One', cursive;
  color: #1A56DB;
}
.selected{
  color: red;
}
.box{
  margin-block: 4%;
}
.divider{
  margin-block: 20%;
}

.menu_bar{
  background-color: red;
  overflow: auto;
  width: 100%;
  padding: 12px;
}

.menu_font{
  font-size: 35px;
  font-weight: bold;
  font-family: 'Unica One', cursive;
  color: #1A56DB;
  padding-right: 10px;
}


.menu_div{
  margin-right: 10%;
  margin-bottom: 10%;
  width: 100%;
}
.block{
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 10px;
}

.icon{
padding-top: 10px;
  font-size: 30px;
  color: #1A56DB;
}
.wrapper {
  width: 900px;
  
  overflow: hidden; /* will contain if #first is longer than #second */
}
.first {
  
  float:left; /* add this */
  
  padding-top: 0.2%;
  margin-inline: 0.5%;
}
.second {
  margin-inline: 0.5%;
  float: left; /* add this */
}

.pageBody{
  margin-top: 5%;
}
.right {
  position: absolute;
  right: 25%; 
}
.dropdown{
  width: 40%;
  border: 1px solid #d9d9d9 ;
  border-radius: 2px;
}
@media only screen and (max-width: 600px) {
  .block{
    margin: auto;
    margin-top: 5%;
    width: 90%;
    padding: 10px;
  }
  .header{

    height:22vw;
    font-size: 40px;
    letter-spacing: 0.45em;
  }
  
  .dropdown{
    width: 60%;
    border: 1px solid #d9d9d9 ;
    border-radius: 2px;
  }
  .bottom{
  
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    height:20vw;
    background-color: #1A56DB;
    color: aliceblue;
    font-size: 50px;
    font-family: 'Unica One', cursive;
    letter-spacing: 0.1em;
    
  }
  .icon{
    padding-top: 10px;
      font-size: 10px;
      
    }
    
  .menu_font{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Unica One', cursive;
    color: #1A56DB;
  }
  
  .wrapper {
    width: 300px;
    
    overflow: hidden; /* will contain if #first is longer than #second */
  }
  .page_font{
    font-size: 12px;
  }
}